### generate all human genes from
## HUMANMINE:
https://www.humanmine.org/humanmine
### to generate the negative samples for non-target genes

In [1]:
import pandas as pd
import random

In [2]:
#!/usr/bin/env python

# This is an automatically generated script to run your query
# to use it you will require the intermine python client.
# To install the client, run the following command from a terminal:
#
#     sudo easy_install intermine
#
# For further documentation you can visit:
#     http://intermine.readthedocs.org/en/latest/web-services/

# The line below will be needed if you are running this script with python 2.
# Python 3 will ignore it.
from __future__ import print_function

# The following two lines will be needed in every python script:
from intermine.webservice import Service
service = Service("https://www.humanmine.org/humanmine/service")

# Get a new query on the class (table) you will be querying:
query = service.new_query("Gene")

# The view specifies the output columns
query.add_view("symbol", "name", "proteins.sequence.residues")

# This query's custom sort order is specified below:
query.add_sort_order("Gene.symbol", "ASC")

# You can edit the constraint values below
# query.add_constraint("Gene", "IN","PL_BHF_UCL_cardiovascGenes",code="A")
query.add_constraint("organism.name", "ONE OF", ["Homo sapiens"], code="A")

In [3]:
human_Genes = []

for row in query.rows():
    gene = row["symbol"] , row["name"] , row["proteins.sequence.residues"]
    human_Genes.append(gene)
    #print(row["symbol"]), row["proteins.sequence.residues"])

In [4]:
# convert the list into pandas dataframe
Hm_Genes_df = pd.DataFrame(human_Genes, columns=["Gene" , "protein name","Sequence"])
Hm_Genes_df.shape

(48928, 3)

In [5]:
Hm_Genes = Hm_Genes_df.drop_duplicates(subset=['Gene'])
Hm_Genes.shape

(18904, 3)

In [6]:
Hm_Genes = Hm_Genes.dropna()
Hm_Genes.shape

(18901, 3)

In [7]:
Hm_Genes

,Gene,protein name,Sequence
0,A1BG,alpha-1-B glycoprotein,MSMLVVFLLLWGVTWGPVTEAAIFYETQPSLWAESESLLKPLANVT...
2,A1CF,APOBEC1 complementation factor,MESNHKSGDGLSGTQKEAALRALVQRTGYSLVQENGQRKYGGPPPG...
12,A2M,alpha-2-macroglobulin,MGKNKLLHPSLVLLLLVLLPTDASVSGKPQYMVLVPSLLHTETTEK...
13,A2ML1,alpha-2-macroglobulin like 1,MWAQLLLGMLALSPAIAEELPNYLVTLPARLNFPSVQKVCLDLSPG...
16,A3GALT2,"alpha 1,3-galactosyltransferase 2",MALKEGLRAWKRIFWRQILLTLGLLGLFLYGLPKFRHLEALIPMGV...
...,...,...,...
48910,ZYG11A,"zyg-11 family member A, cell cycle regulator",MVHFLHPGHTPRNIVPPDAQKDALGCCVVQEEASPYTLVNICLNVL...
48912,ZYG11B,"zyg-11 family member B, cell cycle regulator",MPEDQAGAAMEEASPYSLLDICLNFLTTHLEKFCSARQDGTLCLQE...
48916,ZYX,zyxin,MAAPRPSPAISVSVSAPAFYAPQKKFGPVVAPKPKVNPFRPGDSEP...
48918,ZZEF1,zinc finger ZZ-type and EF-hand domain contain...,MGNAPSHSSEDEAAAAGGEGWGPHQDWAAVSGTTPGPGVAAPALPP...
48921,ZZZ3,zinc finger ZZ-type containing 3,MAASRSTRVTRSTVGLNGLDESFCGRTLRNRSIAHPEEISSNSQVR...

In [9]:
# write it to file
Hm_Genes.to_csv('Data/allHumanGenes/human_Genes.csv',index = False)

## Generate negative samples (no repetitve) for each cancer type

In [10]:
allG = pd.read_csv('Data/all_positive_genes.csv',delimiter='\n', dtype=str)
allG.shape

(978, 1)

In [11]:
allT = pd.read_csv('Data/all_positive_targets.csv',delimiter='\n', dtype=str)
allT.shape

(272, 1)

In [ ]:
# PPI_Genes = pd.read_csv('Data/all_String_proteins.csv',delimiter='\n', dtype=str)
# PPI_Genes.shape
allG

In [13]:
notfound= [' BOLA2B',
 ' BPY2B',
 ' BPY2C',
 ' CGB5',
 ' CGB8',
 ' CT47A10',
 ' CT47A11',
 ' CT47A12',
 ' CT47A2',
 ' CT47A3',
 ' CT47A4',
 ' CT47A5',
 ' CT47A6',
 ' CT47A7',
 ' CT47A8',
 ' CT47A9',
 ' CTAG1B',
 ' DEFA1B',
 ' F8A2',
 ' F8A3',
 ' H2AB3',
 ' H2AC13',
 ' H2AC15',
 ' H2AC16',
 ' H2AC17',
 ' H2AC8',
 ' H2BC10',
 ' H2BC6',
 ' H2BC7',
 ' H2BC8',
 ' MAGEA9B',
 ' MAGED4B',
 ' NXF2B',
 ' RBMY1J',
 ' SERF1B',
 ' SSX2B',
 ' SSX4B',
 ' XAGE1B',
 'BAGE3',
 'BAGE4',
 'BNIP1',
 'BPY2',
 'C10orf53',
 'C15orf65',
 'C4orf54',
 'C9orf47',
 'CA5BP1',
 'CCL23',
 'CGB3',
 'CTAGE8',
 'DRD4',
 'EEF1AKMT4-ECE2',
 'F8A1',
 'FAM205C',
 'FAM25G',
 'FCGR2C',
 'FOXD4L6',
 'GAGE12G',
 'GAGE13',
 'GAGE2E',
 'HLA-C',
 'HSFX3',
 'IQCM',
 'KNCN',
 'LIM2',
 'MAGEB17',
 'MPC1L',
 'MS4A1',
 'MUC2',
 'MYMX',
 'P2RY11',
 'PGBD3',
 'PRAMEF27',
 'PRR20C',
 'PRR20D',
 'RBMY1F',
 'RPL36AL',
 'RPS4Y1',
 'RSPH9',
 'SPAG11B',
 'SSX2',
 'ST6GALNAC6',
 'TCEAL6',
 'TEX13C',
 'TEX50',
 'TMSB15B',
 'TYMSOS',
 'UTS2',
 'VKORC1L1',
 'ZNF705B',
 'ZNF735',
 'ZNF788P',
 'ZNF843',
 'ZNF878']
notfound = pd.DataFrame(notfound)

In [14]:
# Genes not found in all_negative_genes_1:
# {'KIR3DS1', 'ZFY', 'NOPCHAP1', 'TSPY10', 'DNAAF11', 'CCDC187', 'SPDYE16', 'VCY',
# 'TBC1D3G', 'SPEGNB', 'LOC100653049', 'TARP', 'LOC391322', 'TSPY4', 'CASP12',
# 'TEX51', 'MYO15B', 'COPS9', 'LOC118142757', 'ATG9B', 'LOC100506422', 'FAM106C',
# 'ODAD1', 'TSTD3', 'CD300H', 'H4C14'}

# Genes not found in all_negative_genes_2:
# {'TAS2R45', 'DYNLT2B', 'H4C9', 'SPATA31C1', 'TSPY3', 'CDY1', 'CCDC187',
# 'LOC101059915', 'USP9Y', 'SPAAR', 'KIR2DS1', 'ODAD4', 'NLRP2B', 'MTRFR',
# 'OR9G9', 'OR2W5P', 'ELOA3DP', 'DUX1', 'PABIR3', 'DNAAF9', 'LOC107987425',
# 'TMEM225B', 'LBHD2', 'ZNF888', 'CCDC192', 'DAZ4', 'LINC02897', 'MYO15B',
# 'DYNLT4', 'OR2J1', 'H2AC12', 'ODAD3', 'TGIF2LY', 'TSPY1', 'KIR2DS2', 'NBDY',
# 'SPACA6', 'COLCA1', 'IFNL4', 'PHAF1', 'PRY2', 'TMEM265', 'SPDYE16', 'KIR2DL5A',
# 'LOC389602', 'LINC02903', 'GAGE12I', 'DPEP2NB', 'LOC100996709', 'PCOTH',
# 'GIMD1', 'LOC100506422'}

In [15]:
notfound.to_csv('Data/notfound.csv', index=False)
notfound_df = pd.read_csv('Data/notfound.csv', dtype=str)


notfound_df.head(4)

         0
0   BOLA2B
1    BPY2B
2    BPY2C
3     CGB5

In [16]:
frames = [allT , allG]
allPos = pd.concat(frames,axis=0,join="outer",ignore_index=True)

In [17]:
allPos

            0
0       CD274
1       FGFR1
2       FGFR2
3       FGFR3
4       FGFR4
...       ...
1245    UNC5D
1246    PLCZ1
1247     PKLR
1248   ATP12A
1249  LGALS13

[1250 rows x 1 columns]

In [18]:
frames = [allPos,notfound_df ]
exclude= pd.concat(frames,axis=0,join="outer",ignore_index=True)
type(exclude)

pandas.core.frame.DataFrame

In [109]:
# exclude.columns =['Gene']
exclude.shape

(1344, 1)

In [41]:
all_neg_info1 = pd.read_csv('Data/neg/all_negative_genes_w_info.csv', dtype=str)
all_neg_info2 = pd.read_csv('Data/neg/all_negative_genes_w_info_2.csv',dtype=str)

all_neg_info1.shape, all_neg_info2.shape

((1852, 3), (3900, 3))

In [43]:
neg = [all_neg_info1, all_neg_info2]
all_neg_info = pd.concat(neg,axis=0, join="outer",ignore_index=True)
# all_neg_info.head()
neg_str_info = all_neg_info.drop_duplicates(subset=['Gene'])
neg_str_info.shape

(5368, 3)

In [29]:
all_neg_1 = pd.read_csv('Data/neg/all_negative_genes_1.csv',sep='\t', dtype=str)
all_neg_2 = pd.read_csv('Data/neg/all_negative_genes_2.csv', sep='\t',dtype=str)

all_neg_map1.shape, all_neg_map2.shape

((1852, 1), (3900, 1))

In [30]:
all_neg_map1 = pd.read_csv('Data/neg/all_negative_genes_map1.tsv',sep='\t', dtype=str)
all_neg_map2 = pd.read_csv('Data/neg/all_negative_genes_map2.tsv', sep='\t',dtype=str)

all_neg_map1.shape, all_neg_map2.shape

((1826, 2), (3848, 2))

In [31]:
all_neg_map1.head(3)

     Gene             STRING_id
0   CRTC1  9606.ENSP00000345001
1   CST11  9606.ENSP00000366208
2  CRYBB1  9606.ENSP00000215939

In [33]:
neg = [all_neg_map2, all_neg_map1]

In [34]:
all_neg_str = pd.concat(neg,axis=0, join="outer",ignore_index=True)

In [35]:
all_neg_str.shape

(5674, 2)

In [36]:
neg_str_map = all_neg_str.drop_duplicates(subset=['Gene'])
neg_str_map.shape

(5294, 2)

In [44]:
## Merge Genes with string mapping and information
all_neg_map_info  = pd.merge(neg_str_map, neg_str_info, on='Gene', how='inner')
print(all_neg_map_info.shape)
all_neg_map_info.head(3)

(5294, 4)

,Gene,STRING_id,Sequence,Label
0,OVCH2,9606.ENSP00000484497,MLISRNKLILLLGIVFFERGKSATLSLPKAPSCGQSLVKVQPWNYF...,0
1,PDCL3,9606.ENSP00000264254,MQDPNADTEWNDILRKKGILPPKESLKELEEEAEEEQRILQQSVVK...,0
2,DOCK1,9606.ENSP00000280333,MTRWVPTKREEKYGVAFYNYDARGADELSLQIGDTVHILETYEGWY...,0

In [46]:
all_neg_map_info.to_csv('Data/neg/ALL_NegG_map_info.csv', index=False)

In [56]:
del all_neg_map_info['STRING_id']

In [57]:
all_neg_map_info.head(2)

    Gene                                           Sequence Label
0  OVCH2  MLISRNKLILLLGIVFFERGKSATLSLPKAPSCGQSLVKVQPWNYF...     0
1  PDCL3  MQDPNADTEWNDILRKKGILPPKESLKELEEEAEEEQRILQQSVVK...     0

In [110]:
allNegative_pool = Hm_Genes.loc[~((Hm_Genes.Gene.isin(exclude['Gene']))),:]

In [111]:
allNegative_pool.shape

(17656, 3)

In [112]:
class_lab = [0] * allNegative_pool.shape[0]
  
# Using 'Address' as the column name
# and equating it to the list
allNegative_pool['Label'] = class_lab

<ipython-input-112-d42be23f2995>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allNegative_pool['Label'] = class_lab

In [113]:
allNegative_pool

,Gene,protein name,Sequence,Label
0,A1BG,alpha-1-B glycoprotein,MSMLVVFLLLWGVTWGPVTEAAIFYETQPSLWAESESLLKPLANVT...,0
2,A1CF,APOBEC1 complementation factor,MESNHKSGDGLSGTQKEAALRALVQRTGYSLVQENGQRKYGGPPPG...,0
13,A2ML1,alpha-2-macroglobulin like 1,MWAQLLLGMLALSPAIAEELPNYLVTLPARLNFPSVQKVCLDLSPG...,0
16,A3GALT2,"alpha 1,3-galactosyltransferase 2",MALKEGLRAWKRIFWRQILLTLGLLGLFLYGLPKFRHLEALIPMGV...,0
17,A4GALT,"alpha 1,4-galactosyltransferase (P blood group)",MSKPPDLLLRLLRGAPRQRVCTLFIIGFKFTFFVSIMIYWHVVGEP...,0
...,...,...,...,...
48910,ZYG11A,"zyg-11 family member A, cell cycle regulator",MVHFLHPGHTPRNIVPPDAQKDALGCCVVQEEASPYTLVNICLNVL...,0
48912,ZYG11B,"zyg-11 family member B, cell cycle regulator",MPEDQAGAAMEEASPYSLLDICLNFLTTHLEKFCSARQDGTLCLQE...,0
48916,ZYX,zyxin,MAAPRPSPAISVSVSAPAFYAPQKKFGPVVAPKPKVNPFRPGDSEP...,0
48918,ZZEF1,zinc finger ZZ-type and EF-hand domain contain...,MGNAPSHSSEDEAAAAGGEGWGPHQDWAAVSGTTPGPGVAAPALPP...,0
48921,ZZZ3,zinc finger ZZ-type containing 3,MAASRSTRVTRSTVGLNGLDESFCGRTLRNRSIAHPEEISSNSQVR...,0

In [115]:
allNegative_pool['Gene'].to_csv('Data/Pool_of_negative_genes.csv',index = False)

In [116]:
allNegative_pool.to_csv('Data/Pool_of_negative_genes_with_info.csv',index = False)

In [59]:
Cancers = ['Bladder','Bone','Breast','Colon','Kidney','Luk','Liver','Lung',
           'NonHodgkinLymph','Ovarian','Pancreatic','Rectal','Thyroid' ]
number = [115, 112,163,128,143,215,134,158,173,131,127,120,133]

n = len(Cancers)
k = int(len(all_neg_map_info) / n)
negList = set(all_neg_map_info['Gene'])
selected_unique_subset = []

for cancer in Cancers:
    subset = set(random.choices(list(negList), k=k))
    negList -= subset
    selected_unique_subset.append(subset)

In [60]:
len(selected_unique_subset)

13

In [58]:
Cancers = ['Bladder','Bone','Breast','Colon','Kidney','Luk','Liver','Lung',
           'NonHodgkinLymph','Ovarian','Pancreatic','Rectal','Thyroid' ]

num = [115, 112,163,128,143,215,134,158,173,131,127,120,133]
selected_negGenes = []
for i,num in zip(range(0,len(selected_unique_subset)),number):
#for i in range(0,len(selected_unique_subset)):
    genes = random.sample(selected_unique_subset[i], num)
    print(len(genes))
    genes = list(genes)
    selected_negGenes.extend(genes)
    genes_df = all_neg_map_info.loc[((all_neg_map_info.Gene.isin(genes))),["Gene" ,"Sequence","Label"]]
    cancer = Cancers[i]
    print(cancer)

    genes_df.to_csv('Data/Negative Genes Cancer/new_map_string/'+str(cancer)+'_genes_negative.csv',index = False)

115
Bladder
112
Bone
163
Breast
128
Colon
143
Kidney
215
Luk
134
Liver
158
Lung
173
NonHodgkinLymph
131
Ovarian
127
Pancreatic
120
Rectal
133
Thyroid

In [52]:
selected_negGenes_df = pd.DataFrame(selected_negGenes)
selected_negGenes_df.to_csv('Data/ALL_Negative_GENES_wINFO.csv',index = False)


#selected_negGenes_df_w_info = allNegative_pool.loc[((allNegative_pool.Gene.isin(selected_negGenes))),["Gene" ,"Sequence","Label"]]

In [132]:
selected_negGenes_df_w_info.to_csv('Data/all_negative_genes_w_info_2.csv',index = False)

In [53]:
selected_negGenes_df.shape

(1852, 1)

In [41]:
Cancers = ['Bladder','Bone','Breast','Colon','Kidney','Luk','Liver','Lung',
           'NonHodgkinLymph','Ovarian','Pancreatic','Rectal','Thyroid' ]

num = [115, 112,163,128,143,215,134,158,173,131,127,120,133]
selected_negGenes = []
for i,num in zip(range(0,len(selected_unique_subset)),number):
    genes = random.sample(selected_unique_subset[i], num)
#     print(len(genes))
    genes = list(genes)
#     selected_negGenes.extend(genes)
    genes_df = allNegative_pool.loc[((allNegative_pool.Gene.isin(genes))),["Gene" ,"Label"]]
    cancer = Cancers[i]
    print(cancer)

    genes_df.to_csv('Datasets/train_Data/cancer_genes_label/'+str(cancer)+'_genes_negative.csv',index = False)

Bladder
Bone
Breast
Colon
Kidney
Luk
Liver
Lung
NonHodgkinLymph
Ovarian
Pancreatic
Rectal
Thyroid

In [ ]:
## End of the Code ##....